{% extends "lpnyc/base.html" %}

{% block content %}

<div class="container"
    <h2>{{ people }}</h2>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
    
{% for person in people %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{person}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">{{person.first_name}}'s favorite ice cream is {{person.favorite_icecream}}.</p>
        </div>
    </div>
{% endfor %}

        </div>
    </div>
</div>



{% endblock %}