{% extends "lpnyc/base.html" %}

{% block content %}

<div class="container"
    <h2>VideoGame Data for all games below</h2>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
    
{% for videogame in vdata %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{videogame}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Released {{videogame.released}}, by {{videogame.publisher}}</h6>
        <p class="card-text">Genre is {{videogame.genre}}.</p>
        <p class="card-text">Sold {{videogame.na_sales}} million copies.</p>
        </div>
    </div>
{% endfor %}

        </div>
    </div>
</div>

{% if vdata.has_other_pages %}
  <ul class="pagination">
    {% if vdata.has_previous %}
      <li><a href="?page={{ vdata.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in vdata.paginator.page_range %}
      {% if vdata.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if vdata.has_next %}
      <li><a href="?page={{ vdata.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}



{% endblock %}